
body {
  min-width: 630px;
  overflow-x: scroll;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}

.app-container {
  padding-top: 30px;
  padding-bottom: 30px;
}


.error-message {
  color: #9f3a38;
  margin-left: 10px;
  margin-right: 10px;
}
.select-box {
  border: #ccc 1px solid;
  padding: 8px;
}

.search-wrapper {
  min-height: 70px;
  margin-bottom: 20px !important;
}
.input-number {
  width: 90px;
}
.input, .input-number {
  padding: 10px;
  border-radius: 3px;
  border: #ccc 1px solid;
  outline: 0;
  outline-offset: unset;
}
.input-error {
  border: #9f3a38 1px solid;
}


.countries-list {
  margin-left: 5px !important;
}
.countries-list .item {
  margin-bottom: 3px;
}

.settings-wrapper {
  margin-bottom: 25px;
}
.settings-header {
  margin-bottom: 25px;
}
.setting-description {
  margin-left: 10px;
}
.settings-icon {
  cursor: pointer;
  margin-top: 7px;
}


/*** ANIMATIONS ***/

/* ADD ANIMATIONS */
.fade-in.fade-in-active {
  animation: fadeIn 1s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-down.fade-in-down-active
{
  animation: fadeInDown 1s linear;
}
@keyframes fadeInDown {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

.bounce-in-left.bounce-in-left-active
{
  animation: bounceInLeft 1s ease;
}
@keyframes bounceInLeft {
  0% {
    opacity:0;
    transform:  translate(-1500px,0px)  ;
  }
  60% {
    opacity:1;
    transform:  translate(30px,0px)  ;
  }
  80% {
    transform:  translate(-10px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

.light-speed-in.light-speed-in-active
{
  animation: lightSpeedIn 0.6s ease-out;
}
@keyframes lightSpeedIn {
  0% {
    opacity:0;
    transform:  translate(300px,0px)  skewX(-30deg) ;
  }
  60% {
    opacity:1;
    transform:  translate(-40px,0px)  skewX(30deg) ;
  }
  80% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(-15deg) ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  skewX(0deg) ;
  }
}

.rotate-in.rotate-in-active
{
  animation: rotateIn 0.7s linear;
}
@keyframes rotateIn {
  0% {
    opacity:0;
    transform:  rotate(-200deg) ;
  }
  100% {
    opacity:1;
    transform:  rotate(0deg) ;
  }
}




/* REMOVE ANIMATIONS */
.fade-out.fade-out-active
{
  animation: fadeOut 1s linear;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.bounce-out-left.bounce-out-left-active
{
  animation: bounceOutLeft 1s ease;
}
@keyframes bounceOutLeft {
  0% {
    opacity:1;
    transform:  translate(0px,0px) ;
  }
  20% {
    opacity:1;
    transform:  translate(20px,0px) ;
  }
  100% {
    opacity:0;
    transform:  translate(-1000px,0px) ;
  }
}

.tricky-bounce-out-left.tricky-bounce-out-left-active
{
  animation: trickyBounceOutLeft 1s ease;
}
@keyframes trickyBounceOutLeft {
  0% {
    opacity: 1;
    transform:  scaleX(1.00) scaleY(1.00) translateX(0) ;
  }
  25% {
    opacity: 1;
    transform:  scaleX(0.95) scaleY(1.00) translateX(0) ;
  }
  50% {
    opacity: 1;
    transform:  scaleX(-1.10) scaleY(1.00) translateX(0) ;
  }
  100% {
    opacity: 0;
    transform:  scaleX(-1.10) scaleY(1.00)  translateX(1000px);
  }
}

.rotate-out.rotate-out-active
{
  animation: rotateOut 0.7s linear;
}
@keyframes rotateOut {
  0% {
    opacity:1;
    transform:  rotate(0) ;
  }
  100% {
    opacity:0;
    transform:  rotate(200deg) ;
  }
}
